<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Roboto" rel="stylesheet">
    <title>iLearning</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li id="logo"><a href="/">iLearning</a></li>
				<li id="login"><a href="/logIn">logIn</a></li>
				<li id="verticalBar"><div id="vb"></div></li>
				<li id="signup"><a href="/signUp">signUp</a></li>
			</ul>
		</nav>
	</header>
    {{{ body }}}
</body>
</html>